<div class="min-h-screen">
    <div class="py-6">
        <app-title title="Task Management"></app-title>
        <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8 flex flex-col gap-4">
            <form action="#">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="sm:col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Project
                            Name</label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="Project name" required="">
                    </div>
                    <div class="w-full">
                        <label for="assigned"
                            class="block mb-2 text-sm font-medium text-gray-900 ">Assigned</label>
                        <input type="text" name="assigned" id="assigned"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="Assigned" required="">
                    </div>
                    <div class="w-full">
                        <label for="asigment"
                            class="block mb-2 text-sm font-medium text-gray-900 ">Asigment</label>
                        <input type="text" name="asigment" id="asigment"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="Asigment" required="">
                    </div>
                    <div>
                        <label for="difficulty"
                            class="block mb-2 text-sm font-medium text-gray-900 ">Difficulty</label>
                        <select id="difficulty"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                            <option selected="">Select Difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <div>
                        <label for="priority"
                            class="block mb-2 text-sm font-medium text-gray-900 ">Priority</label>
                        <select id="priority"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                            <option selected="">Select Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <div class="w-full">
                        <label for="startdate"
                            class="block mb-2 text-sm font-medium text-gray-900 ">Start Date</label>
                        <input type="date" name="startdate" id="startdate"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            required="">
                    </div>
                    <div class="w-full">
                        <label for="enddate"
                            class="block mb-2 text-sm font-medium text-gray-900 ">End Date</label>
                        <input type="date" name="enddate" id="enddate"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            required="">
                    </div>
                    <div class="sm:col-span-2">
                        <label for="description"
                            class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                        <textarea id="description" rows="8"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
                            placeholder="Your description here"></textarea>
                    </div>
                </div>
                <button type="submit"
                    class="inline-flex bg-blue-600 items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200  hover:bg-primary-800">
                    Assign Task
                </button>
            </form>
        </div>
    </div>
</div>